body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f5ed;
  position: relative;
  justify-content: center;
}
header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #e4cbb1;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 190px;
  z-index: 3; /*Layer number*/
}
.band {
  display: flex;
  flex-direction: row;
  top: -10px;
  position: relative;
  background-color: #ebd8c3;
  height: 28px;
  width: 100%;
  z-index: 0; /*Layer number*/
  gap: 20px;
}
.band p {
  position: relative;
  color: #ffffff;
  font-size: 15px;
  font-weight: bolder;
  margin: auto;
}
.buttons {
  display: flex;
  position: fixed;
  top: 0px;
  right: 35px;
  width: 10%; /* the div buttons shall not be too big, for it would be on the options names*/
  margin-right: 1%;
}

.button {
  display: flex;
  position: relative;
  padding: 5px 20px;
  background-color: #ebd8c3;
  font-size: 18px;
  text-decoration: none;
  border-radius: 80px;
  transition: all 0.5s ease-in-out;
  width: 5px;
}
.icon-instagram {
  color: #ffffff;
}
.icon-whatsapp {
  color: #ffffff;
}
.icon-email {
  color: #ffffff;
}
.logo-mobile {
  display: none;
}
.button:hover {
  cursor: pointer;
  border-radius: 25px;
  width: 10px;
  font-size: 20px;
}

/* Icon styles */
.icon {
  margin-right: 10px;
}

.logo-title-search {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  top: -5px;
}
.menu-icon {
  display: none;
  position: relative;
  margin: 25px;
  font-size: 30px;
  cursor: pointer;
  color: #f8f5ed;
  z-index: 1; /*Layer number*/
}

.mini-logo {
  position: relative;
  margin-left: 100px;
  height: 100px;
  width: auto;
  transition: all 0.3s ease-in-out;
  z-index: 1; /*Layer number*/
}
.logo-title {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  text-decoration: none;
  z-index: 1; /*Layer number*/
  height: 70px;
  width: 100px;
  top: 10px;
}
.logo-title .frutos {
  position: relative;
  top: 0px;
  left: 0;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  z-index: 1; /*Layer number*/
}
.logo-title .feito-a-mao {
  position: relative;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  z-index: 1; /*Layer number*/
}
.d-flex {
  position: relative;
  top: 20%;
  left: 15%;
  width: 90%;
  height: 25%;
}
.custom-search-btn:hover {
  background-color: inherit;
  border-color: 2px solid transparent; /*disable the hover that comes from the bootstrap*/
  color: inherit;
}
.line {
  position: relative;
  width: 100%;
  background-color: #ebd8c3;
  height: 2px;
  top: 0%;
  z-index: 0; /*Layer number*/
  margin-bottom: 10px;
}
nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center; /* align itens horizontally */
  align-items: center; /* align itens vertically */
  z-index: 1; /*Layer number*/
  gap: 30px;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: "normal";
  z-index: 1; /*Layer number*/
}
nav a:hover {
  color: #e7bb78;
}

/*final of the header*/
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 210px;
  margin-left: 10%;
}

.productDetail {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}
.product-pictures {
  flex-direction: column;
  position: relative;
  height: auto;
  width: 10%;
  min-width: 150px;
  top: 0%;
  left: 1%;
}
.product-pictures img {
  height: auto;
  width: 80%;
  margin: 5% 5%;
  border-radius: 10px;
  cursor: pointer;
}

.product-card {
  display: flex;
  position: relative;
  left: 0%;
  top: 7%;
  border-radius: 10px;
  width: auto;
  height: 60%;
}

.product-card img {
  position: relative;
  width: auto;
  height: 95%;
  aspect-ratio: 0.75 / 1;
  border-radius: 10px;
}
.product-info {
  position: relative;
  width: 30%;
  height: auto;
  padding: 8px;
}

.product-info .title {
  margin: 10px;
  color: #3b3a3a;
  font-weight: 900;
  font-size: 20px;
}
.product-info .a-partir-de {
  margin: 10px;
  color: #6b6b6b;
  font-weight: 500;
  font-size: 1rem;
}
.product-info .price {
  margin: 0;
  color: #a3a882;
  font-size: large;
  font-weight: bolder;
}
.product-card img:hover {
  transform: scale(1.05);
}
.product-description {
  position: relative;
  height: 30%;
  width: 80%;
  top: 5%;
}
.product-description p {
  color: #6b6b6b;
  padding: 2% 0;
}
.productDetailContainer {
  position: relative;
}

/* Media queries */
@media (max-width: 768px) {
  .band {
    height: 50px;
  }
  .band p {
    position: relative;
    color: #f8f5ed;
    font-size: small;
    font-weight: bolder;
    top: 10%;
    left: 0%;
  }
  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    width: 50%;
    background-color: #e4cbb1;
  }

  nav a {
    padding: 15px;
    text-align: center;
    color: #f8f5ed;
    border-bottom: 1px solid #f8f5ed;
  }
  .show {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
  .mini-logo {
    display: none;
  }

  .logo-title {
    display: none;
  }
  .logo {
    display: none;
  }
  .logo-mobile {
    display: block;
    position: fixed;
    left: 42%;
    top: 55px;
    height: 80px;
    z-index: 4; /*layer number*/
  }

  .line {
    display: none;
  }

  .d-flex {
    position: absolute;
    top: 90%;
    left: 3%;
    width: 180%;
    height: 23%;
  }

  .buttons {
    display: none;
  }
  .buttons-offset {
    display: flex;
    position: absolute;
    top: 1%;
    left: 8%;
    width: 10%; /* the div buttons shall not be too big, for it would be on the options names*/
  }
  .button-offset {
    display: flex;
    position: relative;
    margin: 0px;
    padding: 5px 20px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 80px;
    transition: all 0.5s ease-in-out;
    width: 5px;
    right: 20px;
  }
  /*final of the header*/

  .productDetail {
    flex-direction: column;
    width: 95%;
    left: 0%;
  }
  .product-pictures {
    order: 2;
    position: relative;
    display: flex;
    height: auto;
    width: 60%;
    left: 5%;
    flex-direction: row;
  }
  .product-pictures img {
    height: auto;
    width: 85%;
    border-radius: 10px;
  }

  .product-card {
    order: 1;
    flex-direction: column;
    position: relative;
    left: 1%;
    top: 3%;
    width: auto;
    height: 100%;
  }
  .product-card img {
    left: 6%;
    width: 90%;
    height: auto;
  }

  .product-info {
    order: 3;
    position: relative;
    left: 1%;
    width: 90%;
    height: auto;
    padding: 8px;
    top: 13%;
  }

  .product-info .title {
    margin: 10px;
    color: #3b3a3a;
    font-weight: 900;
    font-size: 20px;
  }
  .product-info .a-partir-de {
    margin: 10px;
    color: #6b6b6b;
    font-weight: 500;
    font-size: 1rem;
  }
  .product-description {
    position: relative;
    top: 13%;
    left: 10%;
  }
  .product-description p {
    text-align: justify;
  }
}
