.logo {
  display: block;
  position: relative;
  top: 220px;
  margin: 0 auto;
  text-align: center;
  height: 300px;
  width: auto;
  transition: all 0.3s ease-in-out;
}
.intro-section {
  position: relative;
  text-align: center;
  top: 100px;
  padding: 50px 20px;
  color: #8a504b;
}

.intro-section h1 {
  position: relative;
  top: 120px;
  font-size: 36px;
  color: #c07809;
}

.intro-section p {
  font-size: 20px;
  margin-top: 20px;
  line-height: 1.5;
}
.form-container {
  margin-top: 150px;
}

.form {
  display: flex;
  position: relative;
  top: 0px;
  flex-direction: column;
  align-items: center;
}

.form input,
.form textarea {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #c07809;
  border-radius: 10px;
  font-size: 16px;
}

.form input[type="submit"] {
  background-color: #c07809;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form input[type="submit"]:hover {
  background-color: #a56707;
}

/* Media queries */
@media (max-width: 768px) {
}
