#spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: none;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.6); /* overlay almost transparent */
  z-index: 99999; /*overlay even the header*/
}
.loader {
  display: flex;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #b8c27a;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  animation: spin 0.8s linear infinite;
}
#verificationCode::placeholder {
  color: #cfcfcf;
  opacity: 1;
}
#name::placeholder {
  color: #cfcfcf;
  opacity: 1;
}
#email::placeholder {
  color: #cfcfcf;
  opacity: 1;
}
#pixCopyPasteBtn {
  color: #fff;
  background-color: #a3a882;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Media queries */
@media (max-width: 768px) {
  #pixResult {
    position: relative;
    margin-top: 120px;
  }
  #wrongCodeAlert {
    position: absolute;
    margin-top: 100px;
    z-index: 0;
  }
}
