<header>
  <!-- top band -->
  <div class="band">
    <p>♡ Faça o seu orçamento conosco através do nosso whatsapp!</p>
    <div class="buttons">
      <a
        href="https://www.instagram.com/frutosfeitoamao"
        target="_blank"
        class="button"
        ><i class="fab fa-instagram icon icon-instagram"></i
      ></a>
      <a
        href="https://wa.me/5548991035724?text=Ol%C3%A1%2C+venho+atrav%C3%A9s+do+site+frutosfeitoamao.com.br!%21"
        target="_blank"
        class="button"
        ><i class="fab fa-whatsapp icon icon-whatsapp"></i
      ></a>
      <a
        href="mailto:contato@frutosfeitoamao.com.br"
        target="_blank"
        class="button"
        ><i class="far fa-envelope icon icon-email"></i
      ></a>
    </div>
  </div>
  <!-- logo-title-search -->
  <div class="logo-title-search">
    <a href="index.html"
      ><img src="/assets/clean-logo.png" alt="My Logo" class="mini-logo"
    /></a>
    <div class="logo-title">
      <a href="/index.html" class="frutos">FRUTOS <br /></a>
      <a href="/index.html" class="feito-a-mao">feito à mão</a>
    </div>
    <form
      class="d-flex"
      id="searchForm"
      role="search"
      style="margin-top: 15px; margin-left: 10px"
    >
      <div style="position: relative; width: 50%">
        <input
          class="form-control"
          type="search"
          placeholder="O que você procura?"
          aria-label="Search"
          id="searchInput"
          style="height: 40px"
          name="query"
        />
        <button
          class="btn custom-search-btn"
          id="loupe"
          type="submit"
          style="
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            height: 30px;
            width: 30px;
            border: none;
            background: none;
          "
        >
          <i class="fas fa-search" style="color: #ebd8c3; font-size: 30px"></i>
        </button>
      </div>

      <!-- the right atribute puts the button in the input box -->
    </form>
    <!--Hambuguer menu-->
    <i
      class="fas fa-bars menu-icon"
      style="left: 0%"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasLeft"
      aria-controls="offcanvasLeft"
    ></i>
  </div>

  <!-- Offcanvas component -->
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvasLeft"
    aria-labelledby="offcanvasLeftLabel"
    style="width: 80%; background-color: #ebd8c3"
  >
    <div class="buttons-offset">
      <a
        href="https://www.instagram.com/frutosfeitoamao"
        target="_blank"
        class="button-offset"
        ><i class="fab fa-instagram icon icon-instagram"></i
      ></a>
      <a
        href="https://wa.me/5548991035724?text=Ol%C3%A1%2C+venho+atrav%C3%A9s+do+site+frutosfeitoamao.com.br!%21"
        target="_blank"
        class="button-offset"
        ><i class="fab fa-whatsapp icon icon-whatsapp"></i
      ></a>
      <a
        href="mailto:contato@frutosfeitoamao.com.br"
        target="_blank"
        class="button-offset"
        ><i class="far fa-envelope icon icon-email"></i
      ></a>
    </div>
    <div class="offcanvas-header">
      <h5 id="offcanvasLeftLabel"></h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <ul class="list-group">
        <li class="list-group-item">
          <a
            href="/index.html"
            style="
              text-decoration: none;
              color: #c47601;
              font-size: 20px;
              font-weight: lighter;
            "
            >Início</a
          >
        </li>
        <li class="list-group-item">
          <a
            href="/cursos/index.html?productId=0&imageIndex=0"
            style="
              text-decoration: none;
              color: #c47601;
              font-size: 20px;
              font-weight: lighter;
            "
            >Cursos</a
          >
        </li>
        <li class="list-group-item">
          <a
            href="/riscos-para-bordar/index.html"
            style="
              text-decoration: none;
              color: #c47601;
              font-size: 20px;
              font-weight: lighter;
            "
            >Riscos para Bordar</a
          >
        </li>
        <li class="list-group-item">
          <a
            href="/materiais/index.html"
            style="
              text-decoration: none;
              color: #c47601;
              font-size: 20px;
              font-weight: lighter;
            "
            >Materiais</a
          >
        </li>
        <li class="list-group-item">
          <a
            href="/decoracao/index.html"
            style="
              text-decoration: none;
              color: #c47601;
              font-size: 20px;
              font-weight: lighter;
            "
            >Decoração</a
          >
        </li>
        <li class="list-group-item">
          <a
            href="/sobre/index.html"
            style="
              text-decoration: none;
              color: #c47601;
              font-size: 20px;
              font-weight: lighter;
            "
            >Sobre</a
          >
        </li>
        <li class="list-group-item">
          <a
            href="/contato/index.html"
            style="
              text-decoration: none;
              color: #c47601;
              font-size: 20px;
              font-weight: lighter;
            "
            >Contato</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- line -->
  <div class="line"></div>

  <nav id="nav-menu">
    <a href="/index.html">Início</a>
    <a href="/cursos/index.html?productId=0&imageIndex=0">Cursos</a>
    <a href="/riscos-para-bordar/index.html">Riscos para Bordar</a>
    <a href="/materiais/index.html">Materiais</a>
    <a href="/decoracao/index.html">Decoração</a>
    <a href="/sobre/index.html">Sobre</a>
    <a href="/contato/index.html">Contato</a>
  </nav>

  <img src="/assets/logo.png" alt="My Logo" class="logo-mobile" />
  <!--logo used in the mobile phone mode-->
</header>
