.main {
  margin-top: 240px;
}
.logo {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 100px;
  width: auto;
  transition: all 0.3s ease-in-out;
}
.logo-mobile {
  display: none;
}
.logo:hover {
  height: 120px;
}

.txt_intro {
  position: relative;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #e6c8a9;
}
.slogan {
  position: relative;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #e6c8a9;
}

.section {
  display: flex;
  flex-direction: row;
  height: 700px;
}
/* navegation arrows */
.arrow {
  position: relative;
  border-radius: 25px;
  height: 60px;
  top: 0;
  background-color: #e4cbb1;
  color: #c07809;
  border: none;
  padding: 15px;
  cursor: pointer;
  z-index: 1;
}

.arrow-left {
  margin-left: 2%;
  margin-top: 210px;
}

.arrow-right {
  margin-right: 2%;
  margin-top: 210px;
}

.arrow:hover {
  background-color: #e4c5b1a1;
}
.images {
  display: flex;
  position: relative;
  margin: 0 auto;
  top: 0;
  width: 80%;
  height: 700px;
  overflow-x: hidden; /* hides the axis-x scroll bar */
  overflow-y: hidden; /* hides the axis-y scroll bar */
  scroll-behavior: smooth; /* makes the scroll to be smooth */
  cursor: pointer;
}
.images a {
  text-decoration: none;
}

.product-card {
  position: relative;
  border: 1px solid #ddd; /* card border*/
  border-radius: 10px;
  width: 300px;
  margin: 10px;
  height: 430px;
}

.product-card img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}
.product-info {
  text-align: center;
  padding: 15px;
  background-color: #fff;
  border-top: 2px solid #a3a882; /* boundary line */
}

.product-info .title {
  margin: 10px;
  color: #6b6b6b;
}
.product-info .a-partir-de {
  margin: 10px;
  color: #6b6b6b;
}
.product-info .price {
  margin: 0;
  color: #a3a882;
  font-size: large;
  font-weight: bolder;
}
.product-card:hover {
  transform: scale(1.05);
}
.notFoundContainer {
  display: none;
  position: relative;
  margin-top: 210px;
  margin-left: 35%;
  height: 20%;
  width: 40%;
  font-size: xx-large;
  font-weight: bolder;
  color: #e6c8a9;
}
/* Media queries */
@media (max-width: 768px) {
  .main {
    margin-top: 0px;
  }
  .txt_intro {
    display: none;
  }
  .slogan {
    display: none;
  }
  .arrow {
    top: 0;
  }
  .section {
    margin-top: 190px;
  }
  .arrow-left {
    left: 1%;
  }

  .arrow-right {
    right: 1%;
  }
  /*product-card adjustment*/
  .images {
    top: 0;
    margin-top: 0;
  }
}
