.site-footer {
  margin-top: 200px;
  font-family: Montserrat, sans-serif;
}

/* links area */
.footer-main {
  background-color: #f9ede0;
  height: 250px;
  padding: 60px 20px;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-links a {
  color: #a3a882;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* copyright area */
.footer-bottom {
  background-color: #ebd8c3;
  height: 70px;
  display: flex;
  align-items: center; /*vertical center */
  justify-content: center; /*horizontal center */
  color: #a3a882;
  font-size: 14px;
}

/* Mobile */
@media (max-width: 768px) {
  .site-footer {
    display: none;
  }
}
