.site-footer {
  margin-top: 200px;
  font-family: Montserrat, sans-serif;
}

/* links area */
.footer-main {
  background-color: #f9ede0;
  height: 250px;
  padding: 20px 20px;
  text-align: center;
}
.minimal-logo {
  height: 40px;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0 20px;
}
.social-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.social-icon:hover {
  transform: scale(1.08);
  opacity: 0.9;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-links a {
  color: #a3a882;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}
.location-link {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;
  margin-top: 20px;

  color: #a3a882;
  text-decoration: none;
  font-size: 15px;
}

/* copyright area */
.footer-bottom {
  background-color: #ebd8c3;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center; /*vertical center */
  justify-content: center; /*horizontal cen*/
  gap: 6px;

  color: #a3a882;
  font-size: 12px;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #8a8f6a;
  text-decoration: none;
  font-weight: 500;
}

.footer-bottom a:hover,
.footer-bottom a:focus {
  text-decoration: underline;
  outline: none;
}

/* Mobile */
@media (max-width: 768px) {
  .footer-links {
    gap: 5px;
  }
  .footer-links a {
    font-size: 15px;
  }
}
