<footer class="site-footer">
  <!-- links area  -->
  <div class="footer-main">
    <img
      src="/assets/clean-logo-minimal-no-borders-lighter-color.png"
      alt="My Logo"
      class="minimal-logo"
    />
    <div class="social-icons">
      <a
        href="https://www.instagram.com/frutosfeitoamao"
        target="_blank"
        aria-label="Instagram"
        class="social-icon"
      >
        <i class="fab fa-instagram"></i>
      </a>

      <a
        href="https://www.tiktok.com/@frutosfeitoamao"
        target="_blank"
        aria-label="TikTok"
        class="social-icon"
      >
        <i class="fab fa-tiktok"></i>
      </a>
    </div>
    <nav class="footer-links">
      <a href="/index.html">Início</a>
      <a href="/sobre">Sobre</a>
      <a href="/contato">Contato</a>
      <a href="/links">Links</a>
    </nav>
    <a
      href="https://maps.app.goo.gl/VujmkzpeMMJDYs9J8"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Localização no Google Maps"
      class="location-link"
    >
      <i class="fas fa-location-dot"></i>
      <span class="location-text">Florianópolis-SC</span>
    </a>
  </div>

  <!-- copyright area -->
  <div class="footer-bottom">
    <p>© 2026 Frutos Feito à Mão</p>
  </div>
</footer>
