.comoSurgiu {
  position: relative;
  height: 550px;
  transition: all 0.3s ease-in-out;
  top: 200px;
  left: 37%;
}

/* Media queries */
@media (max-width: 768px) {
  .comoSurgiu {
    left: 10%;
  }
}
