.product-card {
  border: 1px solid #ddd; /* Borda em volta do card */
  border-radius: 10px;
  overflow: hidden; /* Garante que o conteúdo fique dentro do card */
  width: 250px;
  text-align: center;
  margin: 20px;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-info {
  padding: 15px;
  background-color: #fff;
  border-top: 2px solid #a0c568; /* Linha delimitadora */
}

.product-info h3,
.product-info p {
  margin: 0;
  color: #6b6b6b;
}

<div
  class="product-card"
  > <img
  src="image1.jpg"
  alt="Produto 1"
  > <div
  class="product-info"
  > <h3
  > Nome
  do
  Produto</h3
  > <p
  > R$289,
90</p > </div > </div > .image-01 {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  text-align: center;
  height: 300px;
  width: auto;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}

.image-02 {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  text-align: center;
  height: 300px;
  width: auto;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}
.image-03 {
  display: block;
  position: relative;
  top: -300px;
  left: 300px;
  margin: 0 auto;
  text-align: center;
  height: 300px;
  width: auto;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}
